*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --first-color: #ffe5ec;
  --second-color: #ffc2d1;
  --thirst-color: #ffb3c6;
  --fourth-color: #ff8fab;
  --fifth-color: #fb6f92;
}

body, html{
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  background-color: var(--first-color);
  font-family: 'Darker Grotesque';
  font-weight:500;
}

header{
  position:relative;
  background-color: var(--first-color);
  height: 250px;
  width: 100%;
}

.cartNumber{
  position: absolute;
  right: 305px;
  top: 37px;
  background-color: var(--fourth-color);
  border-radius: 50px;
  padding: 2px 5px 3px 5px;
  color: white;
  font-weight: bolder;
}

.free{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-color);
  width: 100%;
  margin: 0 auto;
  padding: 5px 0;
}

.login{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 300px;
  width: 100%;
  line-height: 60px;
  list-style: none;
  user-select: none;
}

.login li{
  padding: 0 30px;
  text-decoration: none;
}

.login li a{
  text-decoration: none;
  color: #333;
  padding: 7px 10px;
  border-radius: 5px;
  transition: all 200ms ease;
}

.login li a:hover{
  background-color: var(--fourth-color);
  color: white;
}

.login li:last-child a{
  background-color: var(--fifth-color);
  color: white;
}

.login li:last-child span{
  color: white;
  font-size: 20px;
  padding: 5px;
  background-color: var(--fourth-color);
  height: 3px;
  width: 5px;
  border-radius: 50px;
  
}

.title-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color);
}

.title-container span{
  font-size: 35px;
}

nav{
  line-height: 170px;
  width: 100%;
  user-select: none;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

nav ul li{
  letter-spacing: 1px;
  padding: 0 15px;
}

nav ul li a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: all 200ms ease;
}

nav ul li a:hover{
  color: var(--fifth-color);
}

.active{
  color: var(--fifth-color)
}

.photo-container{
  height: 950px;
  background-image: url('../public/header_4K.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -200px;
  width: 100%;
}

.home-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-container h2{
  margin-top: 50px;
  color: var(--fourth-color);
  font-size: 30px;
}

.featured{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0;
  gap: 70px;
}

.featured img{
  width: 330px;
  height: 330px;
  object-fit: cover;
}


.product-featured{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.product-featured span{
  font-size: 24px;
  color: var(--thirst-color);
  font-family: 'Darker Grotesque';
  transition: all 200ms ease;
}

.product-featured:hover span{
  color: var(--fifth-color)
}

.subscribe{
  display: flex;
  margin: 50px 0;
  height: 430px;
  width: 80%;
}

.subscribe img{
  object-fit: cover;
  height: 100%;
  width: 50%;
}

.read-more{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  background-color: var(--thirst-color);
}

.read-more p{
  font-family: 'Darker Grotesque';
  font-size: 30px;
  color: white;
}

.text-suscription{
  font-family: 'Ribeye' !important;
  font-size: 60px !important;
}

.btn-readmore{
  background-color: var(--fourth-color);
  padding: 8px 12px;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: 300ms all ease;
}

.btn-readmore:hover{
  background-color: var(--fifth-color);
}

.posts-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.posts-container h3{
  font-size: 30px;
  color: var(--fourth-color);
  margin-bottom: 50px;
}

.posts img{
  width: 330px;
  height: 200px;
}

.posts{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}

.container-newsletter{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 120px;
  background-color: var(--second-color);
  margin-bottom: 50px;
  margin-top: 50px;
}

.newsletter{
  display: flex;
  align-items: center;
}

.newsletter h3{
  font-size: 30px;
  margin-right: 60px;
  font-family: 'Raleway';
  font-weight: bolder;
}

input[type='email']{
  padding: 5px 8px;
  border: 2px solid var(--fourth-color);
  font-size: 22px;
}

input[type='email']:focus{
  outline: none;
  border: 2px solid var(--fifth-color);
}

input::-webkit-input-placeholder{
  font-style: italic;
}

.newsletter button {
  background-color: var(--fourth-color);
  padding: 9px 12px 8px 12px;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 300ms all ease;
}

.newsletter button:hover{
  background-color: var(--fifth-color);
}

.social{
  display: flex;
  align-items: center;
  justify-content: center;
}

.social h3 {
  font-size: 30px;
  margin-right: 60px;
  font-family: 'Raleway';
  font-weight: bolder;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.icons a{
  text-decoration: none;
  color: var(--fourth-color);
  font-size: 35px;
  transition: all 300ms ease;
}

.icons a:hover{
  transform: scale(1.2);
  color: var(--fifth-color)
}

.big-footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 400px;
}

.footer-container img{
  width: 200px;
}

.footer-container p{
  font-size: 25px;
}

.footer-container h3{
  font-size: 30px;
  color: var(--fifth-color);
}

.contact-container{
  display: flex;
  flex-direction: column;
}

.powered{
  border-top: 2px solid var(--thirst-color);
  border-bottom: 2px solid var(--thirst-color);
  padding-bottom: 2px;
}

.info{
  display: flex;
  flex-direction: column;
}

.info ul{
  display: flex;
  text-align: left;
  flex-direction: column;
  list-style: none;
}

.info ul li{
  font-size: 22px;
  text-align: left;
  line-height: 33px;
}

.info ul li a{
  text-decoration: none;
  color: #333;
}

/* Aquí empieza la sección TRATAMIENTOS */

.big-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
  width: 100%;
}

.container{
  position: relative;
  width: 100%;
  height: 650px;
  background-image: url('../public/images/services/face.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -200px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.nuestros{
  position: absolute;
  font-size: 70px;
  left: 300px;
  top: 125px;
  font-family: 'Playfair';
}

.tratamientos{
  position: absolute;
  font-size: 70px;
  left: 300px;
  top: 205px;
  font-family: 'Playfair';
}

.container p{
  position: absolute;
  font-size: 20px;
  left: 300px;
  top: 320px;
}

.questions{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.questions h2{
  font-size: 40px;
  position: relative;
  margin-top: 60px;
}

.questions h2::after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  border-bottom: 1px solid var(--fifth-color);
  padding: 12px;
}

.questions p{
  text-align: center;
  margin-top: 70px;
  font-size: 22px;
}

.container-tratamientos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
  gap: 55px;
  margin-top: 100px;
}

.card-service{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 550px;
  background-color: #f3f3f3;
  overflow: hidden;
}

.card-photo{
  width: 100%;
}

.card-photo img{
  width: 100%;
  max-height: 270px;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

.card-photo img:hover{
  transform: scale(1.2);
}

.title-treatment{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 40px;
  bottom: 270px;
  font-family: 'Roboto Flex'
}

.title-treatment::after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  border-bottom: 1px solid var(--fifth-color);
  padding: 12px;
  margin-top: 40px;
}

.card-description{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  padding: 25px 15px;
}

.description{
  margin: 20px 0;
  text-align: center;
  font-size: 22px;
}

.btn-description{
  margin-top: 30px;
  padding: 7px 15px;
  background-color: var(--fourth-color);
  color: white;
  cursor: pointer;
  border: none; 
  font-size: 22px;
  border-radius: 5px;
  transition: all 200ms ease;
}

.btn-description:hover{
  background-color: var(--fifth-color)
}

/* Aquí empiezan la sección PRODUCTOS */

.shop{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0;
}

.product-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 55px;
  margin: 0px auto;
  margin-top: 40px;
}

.card-product{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 450px;
  overflow: hidden;
}

.container-photo{
  height: 60%;
}

.card-product img{
  width: 260px;
  max-height: 260px;
  overflow: hidden;
  transition: all 200ms ease-in;
}

.card-product img:hover{
  transform: scale(1.1);
}

.info-product{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40%;
}

.info-product p{
  font-size: 22px;
}

.info-product span{
  font-size: 40px;
}

.info-product a{
  text-decoration: none;
  font-size: 22px;
  color: var(--fifth-color);
  margin-top: 15px;
  transition: all 200ms ease;
}

.info-product a:hover{
  color: var(--fourth-color);
}

/*Aquí empieza la sección de DETALLES DEL PRODUCTO*/

.container-details{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 450px;
  margin: 0px auto;
  margin-top: 50px;
  overflow: hidden;
}

.photo-detail{
  width: 50%;
}

.container-details img{
  width: 420px;
  object-fit: cover;
}

.info-detail{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.info-detail .title{
  font-size: 25px;
  color: var(--fifth-color)
}

.info-detail .price{
  font-size: 35px;
}

.info-detail .info-btn{
  background-color: var(--fifth-color);
  padding: 7px 15px;
  border: none;
  font-size: 23px;
  cursor: pointer;
  color: white;
  margin-top: 10px;
  transition: all 200ms ease;
}

.info-detail .info-btn:hover{
  padding: 7px 20px;
  background-color: var(--fourth-color);
}

.info-detail i{
  padding-right: 10px;
}

.back-button{
  background-color: #eee;
  padding: 7px 15px;
  border: none;
  font-size: 23px;
  cursor: pointer;
  color: black;
  margin-top: 10px;
}

.big-description{
  display: block;
  cursor:pointer;
  width: 80%;
  padding: 10px 0 15px 10px;
  background-color: rgb(247, 245, 245);
}

.stars{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}

.stars img{
  width: 25px;
}

/* Aquí empieza la sección del BLOG*/

.blog-container{
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 50px 0;
}

.title-blog{
  display: block;
  font-family: 'Darker Grotesque';
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px #ccc;
  margin-bottom: 15px;
  width: 100%;
}

.article{
  display: flex;
  padding: 20px;
  width: 95%;
  box-shadow: 1px 1px 3px #ccc;
  height: 230px;
}

.article img{
  width: 300px;
  object-fit: cover;
}

.article-photo{
  width: 35%;
  overflow: hidden;
}

.article-info{
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 20px;
}

.article-info p{
  line-height: 30px;
  font-size: 30px;
  margin-bottom: 10px;
}

.article-info a{
  text-decoration: none;
  color: var(--fifth-color);
}

.article:last-child{
  margin-bottom: 20px;
}

/*Aquí empieza la sección CONTACTO*/

.container-contact{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

.form input[type='text'],
.form input[type='email'],
.form textarea {
  font-family: 'Roboto Flex';
  margin: 20px 0;
  padding: 12px;
  border: 1px solid var(--fifth-color);
  color: var(--fifth-color);
  font-size: 22px;
  width: 90%;
}

.form input[type='text']:focus,
.form input[type='email']:focus,
.form textarea:focus{
  outline: none;
  background-color: var(--fifth-color);
  color: white;
}

.form input[type='text']::placeholder,
.form input[type='email']::placeholder,
.form textarea::placeholder {
  font-style: normal;
  color: var(--fifth-color);
}

.form input[type='text']:focus::placeholder,
.form input[type='email']:focus::placeholder,
.form textarea:focus::placeholder{
  color: white;
}

input[type='submit']{
  background-color: var(--fourth-color);
  padding: 7px 15px;
  border: none;
  font-size: 23px;
  cursor: pointer;
  color: white;
  margin-top: 10px;
  transition: all 200ms ease;
}

input[type='submit']:hover{
  padding: 7px 20px;
  background-color: var(--fifth-color);
}

.info-contact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
}

.info-contact i{
  font-size: 50px;
  color: var(--fifth-color)
}

.info-contact .contact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

.info-contact .contact span{
  font-size: 25px;
}

.schedule{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

.schedule span{
  font-size: 25px;
}

.location{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

.location span{
  font-size: 25px;
}

/* Aquí empieza la sección del CARRITO */

.big-container-cart{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  padding-bottom: 50px;
  width: 70%;
}

.title-cart{
  display: flex;
  width: 100%;
  
  margin: 20px 0px 20px 120px;
}

.cart-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-right: 450px;
  margin-top: 30px;
}

.empty{
  font-size: 35px;
  margin-top: 30px;
}

.product-cart{
  display: flex;
  align-items: center;
  width: 550px;
  padding: 15px;
  box-shadow: 1px 1px 3px #ccc;
  background-color: #f8f8f8;
}

.product-cart img{
  width: 120px;
}

.info-product-cart{
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  padding: 0px 15px;
}

.info-product-cart span{
  font-size: 22px;
}

.quantity{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 10px;
  width: 100%;
}

.quantity-info{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 50px;
  width: 100px;
}

.quantity span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  padding: 5px;
  font-size: 20px;
}

.quantity button{
  padding: 0px 5px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.resume{
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 3px #ccc;
  padding: 20px;
  top: 300px;
  right: 520px;
  width: 330px;
}

.resume-container{
  display: flex;
  flex-direction: column;
}

.totalPrice{
  font-size: 22px;
}